@{
    ViewBag.Title = "About The Student";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<span class="glyphicon glyphicon-info-sign"></span>

<p>
    As a Business Bobcat, I look for opportunities to build upon my professional skills through unique experiences.

    I am currently pursuing three degrees in Management, Management Information System, and Business Analytics with a concentration in Human Resources. I have taken on a triple major as I look to gain insight on business procedures by helping to develop employees, understand the flow of systems, and uncover/make predictions based upon the supporting data.

    As I started with a marketing background and gained exposure to the PR world, I have shifted towards other career paths. However, my unique experiences have allowed me to gain insight that has been able to offer a unique perspective in each new role I take on as I do not shy away from a challenge.
</p>
