@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kirsten Gill<br />
    Copeland 012<br />
    <abbr title="Phone">P:</abbr>
    330.329.4290
</address>

<address>
    <strong>School:</strong> <a href="kg506115@ohio.edu">kg506115@ohio.edu</a>
</address>