@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kirsten Gill<br />
    Copeland 012<br />
    <br />
    <span class="glyphicon glyphicon-phone"></span>  330.329.4290<br />
    <span class="glyphicon glyphicon-envelope"></span>  <a href="kg506115@ohio.edu">kg506115@ohio.edu</a>
</address>