@{
    ViewBag.Title = "MIS 4200";
}

<div class="jumbotron">
    <h1>MIS 4200</h1>
    <p class="lead">MIS 4200 is the capstone system's developlent course in the College of Business at Ohio University. MIS 4200 acts a refresher on system development techniques before providing students with experience working on an information system consulting/development project using live clients.</p>
    <p><a href="https://business.ohio.edu/academics/undergrad-majors/management-information-systems/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Management Information Systems</h2>
        <p> MIS professionals play a strategic role in all businesses through analyzing and integrating people, process, and information technology. This creates unprecedented opportunities for management information systems professionals. In fact, the Bureau of Labor Statistics projects the need for business analysts to grow much faster than the job market in the foreseeable future.</p>

    </div>
    <div class="col-md-4">
        <h2>Ohio University</h2>
        <p>
            Ohio University offers more than 250 programs, including undergraduate and graduate-level study with outstanding professors. Build a better future for yourself—and the world.
            Ohio University is a place where students graduate not only poised for career success—but also ready to make a difference in their communities.
        </p>
        <p><a class="btn btn-default" href="https://www.ohio.edu/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Professional Experiences</h2>
        <p>As a young professional, I have been fortunate to have a variety of experiences from traveling abroad to two unique internships. Visit my LinkedIn to learn more about these real world experiences.</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/gillkirsten/">LinkedIn &raquo;</a></p>
    </div>
</div>